body {	
	background: linear-gradient(to bottom, #D6C0E4, #F6ECD2, #F5D2D7, #D6C0E4 );
	background-size: 100%;
	background-repeat: no-repeat;
  font-size: 18px;
  font-family: 'Nunito', Verdana, sans-serif;
}

/* PAGE BACKGROUND OVERLAY*/

body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(to right bottom, rgba(255,255,255,0.2), #F7E2D5 75%);
}

/* TYPOGRAPHY*/

strong {
  font-weight: 700 !important;
}

h1, h2, h3, h4, h5, h6, .card-title {
  font-family: Arimo;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: normal;
  text-transform: none;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 28px;
}

h6 {
  font-size: 24px;
  letter-spacing: 10%;
  text-transform: uppercase;
}

.card-feature-quote {
  font-family: 'Nunito';
  font-size: 22px;
  font-weight: 300;
}

.nav-link {
  font-family: Nunito;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.subtitle {
  font-size: 20px;
}

ul {
  font-family: Nunito;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0%;
  font-weight: 300;
}

#skillsexpertise ul {
  list-style-type: none;
  text-indent: 0;
  margin-left: -10px;
  padding-left: 0;
}

.bigtxt {
  font-size: 26px;
  font-weight: lighter;
}

.bolder {
  font-weight: bold !important;
}

.quoteAttribute {
  font-family: Nunito;
  font-size: 18px;
  font-style: italic;
}

.lilHeader {
  color: #7209B7;
  letter-spacing: 0;
  text-transform: none;
  font-family: Nunito;
  font-size: 28px;
  font-weight: 700;
}

#values .card-title, #values .card-body {
  text-align: center;
}

.card-title, .card-body {
  padding-right: 25px;
  padding-left: 25px;
}

.card-title {
  padding-top: 30px;
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(11deg) brightness(103%) contrast(103%);
}

.designicons {
  width: 35px;
  height: 35px;
}

#skillsexpertise p, #skillsexpertise strong, #skillsexpertise em {
  font-size: 16px;
  line-height: 20px;
}

/* MARGINS AND LAYOUT */

section {
  padding: 0 10% 50px 10%;
}

#intro img {
  max-width: 100%;
}

#recommendations .card {
  margin-bottom: 25px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(8, 7, 16, 0.1);
}

.portfolio-item-metadata {
  margin: 10px 0 10px 0;
}

footer {
  background-color: #212121;
  color: #F5D2D7;
  padding: 0 10% 50px 10%;
}

.card-footer {
  background-color: transparent;
  border: 0;
  padding-top: 0;
  padding-bottom: 25px;
}

.chip {
  border-radius: 10px;
  border: 1px solid #D81159;
  background-color: transparent;
  display: inline-block;
  padding: 5px 15px;
  font-family: 'Nunito';
  font-size: 12px;
  text-transform: uppercase;
  color:#D81159;
  letter-spacing: 1px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.modal-header {
  border: 0;
}

.nav-item {
  padding-left: 20px;
}

.aboutpics {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 50px 0px 50px;
}

.aboutimage {
  position: relative;
  margin: 0 -50px;
  z-index: 1;
  height: auto;
}

.aboutimage img {
  width: 240px;
  height: auto;
}

.card-img-side {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#design .card {
  margin: 0px 7%;
}

/* MISC */

.bi:hover {
  color: #FFF3F0 !important;
}

@media only screen and (max-width: 992px) {
  .card-img-side {
    width: 100%;
    height: 55vw;
    object-fit: cover;
    border-radius: 6px;
  }

  #design .card {
    margin: 0;
  }
}

@media only screen and (max-width: 1400px) {

  #design .card {
    margin: 0;
  }
}