body {	
	background: linear-gradient(to bottom, #D6C0E4, #F6ECD2, #F5D2D7, #D6C0E4 );
	background-size: 100%;
	background-repeat: no-repeat;
}

body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(to right bottom, rgba(255,255,255,0.2), #F7E2D5 75%);
}

/* TYPOGRAPHY*/

strong, em {
  font-family: Nunito !important;
}

strong {
  font-weight: 700 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arimo;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 48px;
  color: #D81159;
}

h2 {
  font-size: 40px;
  color: #D81159;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 32px;
  line-height: normal;
}

h5 {
  font-size: 28px;
}

h6 {
  font-size: 24px;
}

.nav-link {
  font-family: Nunito;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.footerHeader {
  font-family: Arimo;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 26px;
}

.footerHeader:hover, .footerSubHeader:hover {
  background-color:#D81159;
  color: #FFED36;
}

.footerSubHeader {
  font-family: Arimo;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 25px;
}

p {
  font-family: Nunito;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 0%;
  font-weight: 300;
}

.bigger-text {
  font-size: 26px;
  font-weight: lighter;
}

.bolder {
  font-weight: bold !important;
}

.quoteAttribute {
  font-family: Nunito;
  font-size: 18px;
  font-style: italic;
}

.lilHeader {
  color: #7209B7;
  letter-spacing: 0;
  text-transform: none;
  font-family: Nunito;
  font-size: 28px;
  font-weight: 700;
}

/* MARGINS AND LAYOUT */

#intro, #portfolio, #recommendations {
  padding: 0 10% 50px 10%;

}

#intro img {
  max-width: 100%;

}

#recommendations .card {
  margin-bottom: 25px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(8, 7, 16, 0.1);
}

.portfolio-item-metadata {
  margin: 10px 0 10px 0;
}

.chipholder {
  margin: 25px 0 25px 0;
}

#footer {
  background-color:#7209B7;
  color: white;
}

.card-footer {
  background-color: transparent;
  border: 0;
  padding-top: 0;
  padding-bottom: 25px;
}

.modal-header {
  border: 0;
}

.nav-item {
  padding-left: 20px;
}